<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>579755497122-8unn9dmte0h0i29ica3u38rd84420h5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579755497122-8unn9dmte0h0i29ica3u38rd84420h5g</string>
	<key>TRACKING_ID</key>
	<string>UA-74767414-1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579755497122-hgm1d0ai6o05d7hkdc3mi4dladie2veu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD93NdwLDVxC66ufXVF0rjBHs-uzlio5CA</string>
	<key>GCM_SENDER_ID</key>
	<string>579755497122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nokhetha.iMallRS</string>
	<key>PROJECT_ID</key>
	<string>aqar-imall</string>
	<key>STORAGE_BUCKET</key>
	<string>aqar-imall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:579755497122:ios:0b16e61138185380</string>
	<key>DATABASE_URL</key>
	<string>https://aqar-imall.firebaseio.com</string>
</dict>
</plist>
