<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AqarMall.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52E6523321D9DB6700E66AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E6524921D9DB6A00E66AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E6525421D9DB6A00E66AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
